body {
    font-family: sans-serif; 
    max-width: 800px; 
    margin: 50px auto; 
    text-align: center; 
    background-color: aliceblue;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px; 
    margin-bottom: 30px;
}

.logo {
    width: 140px;
    height: auto;
}
input[type="text"] { 
    width: 80%; 
    padding: 10px; 
    margin-bottom: 20px; }
button { 
    padding: 10px 20px;
    background-color: #007bff; 
    color: white; border: none; 
    cursor: pointer; 
}
.alerta { 
    padding: 20px; 
    margin-top: 20px; 
    border-radius: 5px; 
}
.perigo {
    background-color: #ffcccc; 
    color: #cc0000; 
    border: 1px solid #cc0000; 
}
.seguro { 
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb; 
}
footer {
    margin-top: 50px;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    color: #666;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-links a {
    font-size: 24px;
    color: #333;
    margin: 0 15px;
    transition: color 0.3s ease;
}


.social-links a:hover {
    color: #007bff; 
}